<div class="flex justify-content-between align-items-center px-4 py-3 surface-50">
  <h2 class="m-0">{{ isMasterStore ? 'Master' : 'My' }} Store</h2>
  <div class="flex align-items-center">
    Welcome User !
    <p-button label="Logout" icon="pi pi-power-off" styleClass="ml-3 p-button-warning"></p-button>
  </div>
</div>
<div class="grid grid-nogutter h-full mt-3">
  <div class="col-12 md:col-10 md:col-offset-1">
    <app-master-store *ngIf="isMasterStore"></app-master-store>
    <app-user-store *ngIf="!isMasterStore"></app-user-store>
  </div>
</div>
