<div class="grid h-full">
  <div class="col-12 md:col-10 md:col-offset-1">
    <div class="grid justify-content-around align-content-center h-full">
      <div class="col-12 md:col-4 align-self-center">
        <h2>Login</h2>
        <form novalidate>
          <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" class="inputfield w-full" pInputText />
          </div>
          <div class="field">
            <label for="password">Password</label>
            <p-password inputId="password" styleClass="inputfield w-full" inputStyleClass="w-full" [toggleMask]="true"></p-password>
          </div>
          <button pButton type="button" label="Login" class="mt-3"></button>
        </form>
      </div>
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
      <div class="col-12 md:col-4 align-self-center">
        <h2>Create an account</h2>
        <form class="mb-3" novalidate>
          <div class="field">
            <label for="name">Name</label>
            <input type="text" id="name" class="inputfield w-full" pInputText />
          </div>
          <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" class="inputfield w-full" pInputText />
          </div>
          <div class="field">
            <label for="password">Password</label>
            <p-password inputId="password" styleClass="inputfield w-full" inputStyleClass="w-full" [toggleMask]="true"></p-password>
          </div>
          <div class="field">
            <label for="confirm-password">Confirm Password</label>
            <p-password inputId="confirm-password" styleClass="inputfield w-full" inputStyleClass="w-full" [toggleMask]="true"></p-password>
          </div>
          <button pButton type="button" label="Signup" class="mt-3"></button>
        </form>
      </div>
    </div>
  </div>
</div>
