<div class="grid grid-nogutter h-full">
  <div class="col-12 md:col-10 md:col-offset-1">
    <div class="grid justify-content-around align-content-center h-full">
      <div class="col-12 md:col-4 align-self-center">
        <h2>Login</h2>
        <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <div class="p-float-label">
            <input type="text" id="lf-username" class="w-full" pInputText formControlName="username"
              autocomplete="off" />
            <label for="lf-username">Username</label>
          </div>
          <small id="lf-username-error" class="p-error"
            *ngIf="getLoginFieldErrors('username')?.required">Username is required</small>
          <div class="p-float-label mt-5">
            <p-password inputId="lf-password" styleClass="w-full" inputStyleClass="w-full"
              [toggleMask]="true" [feedback]="false" formControlName="password"></p-password>
            <label for="lf-password">Password</label>
          </div>
          <small id="lf-password-error" class="p-error"
            *ngIf="getLoginFieldErrors('password')?.required">Password is required</small>
          <div class="mt-6">
            <button pButton type="submit" label="Login" class="w-full" [disabled]="!loginForm.valid"></button>
          </div>
        </form>
      </div>
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
      <div class="col-12 md:col-4 align-self-center">
        <h2>Create an account</h2>
        <form class="my-5" [formGroup]="signupForm" (ngSubmit)="signupUser()">
          <div class="p-float-label mt-5">
            <input type="text" id="sf-name" class="w-full" pInputText autocomplete="off" formControlName="name" />
            <label for="sf-name">Name</label>
          </div>
          <small id="sf-name-error" class="p-error"
            *ngIf="getSignupFieldErrors('name')?.required">Name is required</small>
          <div class="p-float-label mt-5">
            <input type="text" id="sf-username" class="w-full" pInputText autocomplete="off" formControlName="username" />
            <label for="sf-username">Username</label>
          </div>
          <small id="sf-username-error" class="p-error"
            *ngIf="getSignupFieldErrors('username')?.required">Username is required</small>
          <div class="p-float-label mt-5">
            <p-password inputId="sf-password" styleClass="w-full" inputStyleClass="w-full" [toggleMask]="true"
              formControlName="password"></p-password>
            <label for="sf-password">Password</label>
          </div>
          <small id="sf-password-error" class="p-error"
            *ngIf="getSignupFieldErrors('password')?.required">Password is required</small>
          <!-- <div class="p-float-label mt-5">
            <p-password inputId="sf-confirm-password" styleClass="w-full" inputStyleClass="w-full"
              [toggleMask]="true" [feedback]="false" formControlName="confirmPassword"></p-password>
            <label for="sf-confirm-password">Confirm Password</label>
          </div>
          <small id="sf-password-error" class="p-error"
            *ngIf="getSignupFieldErrors('confirmPassword')?.required">Confirm Password is required</small> -->
          <div class="mt-6">
            <button pButton type="submit" label="Signup" class="w-full" [disabled]="!signupForm.valid"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
